.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));;
    grid-template-rows: repeat(3, auto);
    gap: 16px;
    max-width: 1184px;
    margin: auto;
}

/*корректировка макс. ширины для меньших экранов*/
@media screen and (max-width: 1279px) {
    .gallery {
        max-width: 928px;
        gap: 14px;
    }

}

@media screen and (max-width: 1023px) {
    .gallery {
        padding: 0 24px;
    }

}

@media screen and (max-width: 767px) {
    .gallery {
        padding: 0 16px;
        gap: 12px;
    }
}