.places {
    padding: 92px 0;
    display: grid;
    gap: 80px;
    max-width: 984px;
    margin: 0 auto;
}

/*корректировка макс. ширины для меньших экранов*/

@media screen and (max-width: 1279px) {
    .places {
        max-width: 928px;
    }

}

@media screen and (max-width: 1023px) {
    .places {
        padding: 88px 24px 90px;
        gap: 73px;
    }

}

@media screen and (max-width: 767px) {
    .places {
        padding: 64px 0 66px;
        gap: 50px;
    }

}