.main-banner__caption {
    font-size: 10px;
    line-height: 14px;
    font-weight: normal;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-align: left;
    margin: 0;
    padding-top: 8px;
}
/*отступ для подписи к фото на маленьких экранах*/
@media screen and (max-width: 930px) {
    .main-banner__caption {
        margin-left: 24px;
    }

}

@media screen and (max-width: 767px) {
    .main-banner__caption {
        margin-left: 16px;
    }

}
