.places__title {
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    margin: 0;
    grid-area: title;
    max-width: 460px;
}

/*корректировка шрифта для меньших экранов*/
@media screen and (max-width: 1023px) {
    .places__title {
        font-size: 42px;
        line-height: 46px;
    }

}

@media screen and (max-width: 767px) {
    .places__title {
        font-size: 32px;
        line-height: 35px;
    }

}