.places__link {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    cursor: pointer;
    grid-area: link;
    align-self: end;
    position: relative;
}

.places__link:before {
    content:'URL';
    display: inline-block;
    color:#aaa;
    text-decoration: none;
    top: -34px;
    position: absolute;

}

.places__link:hover::before {
    opacity: 1;
}

.places__link:hover {
    opacity: .8;
    transition: opacity 0.5s ease-out;
}