.places__link {
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    cursor: pointer;
    display: block;
    padding-top: 12px;
}

.places__link:hover {
    opacity: .8;
    transition: opacity 0.5s ease-out;
}