.footer__menu {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {

    .footer__menu {
        flex-flow: column;
        padding-bottom: 48px;
        gap: 32px;
    }
}