.main-banner {
    text-align: center;
    max-width: 984px;
    margin: 0 auto;
    padding-top: 56px;
}

/*корректировка макс. ширины для меньших экранов*/

@media screen and (max-width: 1280px) {
    .main-banner {
        max-width: 928px;
        padding-top: 48px;
    }

}


