.footer__link {
    font-size: 16px;
    line-height: 18px;
    margin: 0 18px 0 0;
    text-decoration: none;
    color: #fff;
}

.footer__link:last-child{
    margin: 0;
}

.footer__link:hover {
    opacity: .8;
    transition: opacity .5s ease-out;
}

@media screen and (max-width: 767px) {

    .footer__link {
        font-size: 24px;
        line-height: 1;
        margin: 0;
    }
}