.header__language-link {
    font-size: 24px;
    line-height: 28px;
    text-decoration: none;
    color: #fff;
    margin: 0 18px 0 0;
}

.header__language-link:last-child {
    margin: 0;
}

.header__language-link:hover {
    text-decoration: underline;
    cursor: pointer;
}

.header__language-link:active {
    text-decoration: underline;
}