.main-banner__paragraph {
    font-size: 30px;
    line-height: 36px;
    font-weight: normal;
    margin: 0 auto;
    padding: 32px 0 64px;
    max-width: 640px;
}

@media screen and (max-width: 1279px){
    .main-banner__paragraph {
        padding: 32px 0 56px;

    }
}

@media screen and (max-width: 767px) {
    .main-banner__paragraph {
        font-size: 16px;
        line-height: 20px;
        padding: 16px 0 40px;
        max-width: 288px;
    }
}