@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__language-links/header__language-links.css);
@import url(../blocks/header/__language-link/header__language-link.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__paragraph/header__paragraph.css);
@import url(../blocks/header/__image/header__image.css);
@import url(../blocks/header/__caption/header__caption.css);
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__item/gallery__item.css);
@import url(../blocks/title/title.css);
@import url(../blocks/intro-text/__title/intro-text__title.css);
@import url(../blocks/intro-text/__paragraph/intro-text__paragraph.css);
@import url(../blocks/list/list.css);
@import url(../blocks/list/__item/list__item.css);
@import url(../blocks/span-accent/span-accent.css);
@import url(../blocks/intro-text/intro-text.css);
@import url(../blocks/places/places.css);
@import url(../blocks/places/__item/places__item.css);
@import url(../blocks/places/__title/places__title.css);
@import url(../blocks/places/__img/places__img.css);
@import url(../blocks/places/__link/places__link.css);
@import url(../blocks/places/__description/places__description.css);
@import url(../blocks/places/__paragraph/places__paragraph.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__paragraph/cover__paragraph.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__menu/footer__menu.css);
@import url(../blocks/footer/__author/footer__author.css);
