@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__menu/header__menu.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__language-links/header__language-links.css);
@import url(../blocks/header/__language-link/header__language-link.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__paragraph/header__paragraph.css);