@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/__language-links/header__language-links.css);
@import url(../blocks/header/__language-link/header__language-link.css);
@import url(../blocks/header/__language-link/_active/header__language-link_active.css);
@import url(../blocks/main-banner/__title/main-banner__title.css);
@import url(../blocks/main-banner/__paragraph/main-banner__paragraph.css);
@import url(../blocks/main-banner/__image/main-banner__image.css);
@import url(../blocks/main-banner/__caption/main-banner__caption.css);
@import url(../blocks/main-banner/main-banner.css);
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__item/gallery__item.css);
@import url(../blocks/intro-text/__title/intro-text__title.css);
@import url(../blocks/intro-text/__paragraph/intro-text__paragraph.css);
@import url(../blocks/list/list.css);
@import url(../blocks/list/__item/list__item.css);
@import url(../blocks/span-accent/span-accent.css);
@import url(../blocks/intro-text/intro-text.css);
@import url(../blocks/places/places.css);
@import url(../blocks/places/__item/places__item.css);
@import url(../blocks/places/__title/places__title.css);
@import url(../blocks/places/__img/places__img.css);
@import url(../blocks/places/__website/places__website.css);
@import url(../blocks/places/__label/places__label.css);
@import url(../blocks/places/__link/places__link.css);
@import url(../blocks/places/__description/places__description.css);
@import url(../blocks/places/__paragraph/places__paragraph.css);
@import url(../blocks/cover/cover.css);
@import url(../blocks/cover/__content/cover__content.css);
@import url(../blocks/cover/__wrapper-text/cover__wrapper-text.css);
@import url(../blocks/cover/__paragraph/cover__paragraph.css);
@import url(../blocks/cover/__title/cover__title.css);
@import url(../blocks/cover/__link/cover__link.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__link/footer__link.css);
@import url(../blocks/footer/__menu/footer__menu.css);
@import url(../blocks/footer/__author/footer__author.css);
