.places__item {
    display: grid;
    grid-template-columns: 460px 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 48px 40px;
    grid-template-areas:
            "title link"
            "img description";
}