.places__item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, auto);
    gap: 48px 40px;
    grid-template-areas:
            "title link"
            "img description";
}

@media screen and (max-width: 1024px) {
    .places-item {
        gap: 48px 32px;
    }

}

@media screen and (max-width: 768px) {
    .places-item {
        gap: 48px 28px;
    }

}